@import '../../styles/import';

.notification {
  box-sizing: border-box;
  border-radius: $dixa-border-radius;
  border-style: solid;
  border-color: $grey-6;
  border-width: 1px;
  color: $dixa-black;
  font-family: 'Open Sans', sans-serif;
  max-width: 300px;
  &Show {
    $show: & !global;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  border-left-style: solid;
  border-left-color: $dixa-blue;
  margin: 0.5rem;
  max-height: 50px;
  overflow: hidden;
}

.icon,
.message,
.btn {
  #{$show} & {
    animation: handleText 1500ms ease-in-out;
  }
}

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

.icon,
.btn {
  margin: 0 1rem;
}

.icon {
  text-align: center;
}

.close {
  margin: 0 auto;
}

.notificationShow {
  animation: slideIn 1500ms ease-in-out;
}
.notificationHide {
  animation: slideOut 1500ms ease-in-out;
}

@keyframes handleText {
  0% {
    visibility: hidden;
  }
  95% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slideIn {
  0% {
    max-width: 100px;
    transform: translate(-300px, 0);
  }
  75% {
    max-width: 100px;
    transform: translate(30px, 0);
  }
  100% {
    max-width: 300px;
    transform: translate(0, 0);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-330px, 0);
  }
}
