@import "../../styles/import";

.root {
    border-radius: $dixa-border-radius;
    border-style: solid;
    border-color: $grey-6;
    border-width: 1px;
    box-sizing: border-box;
    max-width: 300px;
    margin: 0.5rem;
    font-family: "Open Sans", sans-serif;
    color: $dixa-black;
}

.container {
    @include flex-centered;
    justify-content: flex-start;
    margin: 0.5rem;
    border-left-style: solid;
    border-left-color: $dixa-blue;
}

.icon {
    margin: 0 1rem;
}

.close {
    margin-left: auto;
    margin-right: 0.5rem;
}
